/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #fff;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: #696969;
}

img {
  max-width: 100%;
}

footer {
  color: #5c5c5c;
  font-size: .9em;
  padding: 10px;
  margin: 40px;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  display: none;
}

/* ---- Layout Containers ---- */

.container {
  padding: 0 1em;
}

.intro {
  margin: 40px 0;
}

.work,
.skills,
.about {
  margin-bottom: 50px;
}

footer {
  text-align: center;
}


/* ---- Page Elements ---- */

.name,
.pop,
.tagline,
.work h1,
.skills h1,
.about h1,
.contact h1 {
  text-align: center;
}

.work h1,
.skills h1,
.about h1,
.contact h1 {
  font-weight: 400;
}

.work h1,
.about h1,
.contact h1 {
  margin-bottom: -10px;
}

.name {
  font-size: 3em;
  font-weight: 700;
  padding: 15px 0;
  margin: 15px 0;
}

.pop {
  width: 99px;
  height: 10px;
  background: #2196F3;
  display: block;
  margin: 0 auto;
}

.tagline {
  font-size: 1.625em;
  font-weight: 300;
  margin: 0;
  padding: 15px 0;
  margin: 15px 0;
}

.work p {
  font-size: .9em;
  margin-bottom: 10px;
}

.portfolio img {
  border-radius: 5px;
}

.col1 img,
.col2 img {
  opacity: .9;
}

.col h4 {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.skills h1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.skills h3 {
  font-weight: 300;
  background-color: #dcdcdc;
  display: inline-block;
  padding: 5px 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 5px solid #2196F3;
  border-bottom: 5px solid #2196F3;
}

.skills h3:nth-child(2) {
  margin-top: 3px;
}

.skills li {
  display: inline-block;
}

/* ---- Float clearfix ---- */




/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .main-header {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .main-nav {
    display: block;
    text-align: center;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    display: block; /*makes the clickable area larger*/
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px;
  }

  .name {
    font-size: 4.2em;
    padding: 12px 0;
    margin: 12px 0;
  }

  .pop {
    margin-left: 2px;
  }

  .tagline {
    padding-top: 20px;
  }

  .name,
  .tagline,
  .work h1,
  .skills h1,
  .about h1,
  .contact h1 {
    text-align: left;
  }

  .banner {
    padding-top: 2.5em;
    padding-bottom: 3em;
  }

  .banner p {
    text-align: left;
    font-size: .9em;
  }

  .work {
    padding-bottom: 0;
  }

  .col {
    float: left;
    width: 33%;
  }

  .col h4 {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .col1,
  .col2 {
    padding-right: .5em;
  }

  .col2,
  .col3 {
    padding-left: .5em;
  }

  .skills h3:nth-child(2) {
    margin-top: 10px;
  }

  .about h1,
  .contact h1 {
    margin-bottom: -5px;
  }

  /* ---- Float clearfix ---- */

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  
  
}

@media (min-width: 1025px) {

  .container {
    width: 80%;
    max-width: 1150px;
  }

  .name {
    font-size: 6em;
    margin-left: -3px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
  }

  .tagline {
    padding-top: 18px;
  }
  

  /* ---- About Page ---- */

}



















