/* Navbar
================================= */


.navbar-inverse {
  background-color: #365069;
  border-color: #365069;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #365069;
}
.navbar-inverse .navbar-toggle {
    border-color: #365069;
}

button.navbar-toggle.collapsed:hover {
  color: #fff;
  background: #014c8c;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #014c8c;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #365069;
}


/* Jumbotron
================================ */

.jumbotron {
  font-family: 'Play', sans-serif;
  text-align: center;
  color: #e5ecf2;
  background-color: #50769c;
 
}

.jumbotron img {
  margin: 0 auto;
  max-width: 300px;
  opacity: .75;
}

.jumbotron h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 200;
}

.jumbotron .pop {
  color: #ffff00;
}

p.lead {
  color: #bfcede;
  font-size: 2em;
  margin-bottom: 40px;
}

.btn-primary {
  border-width: 2px;
  border-color: #bfcede;
  margin-right: 10px;
  padding: 12px 22px;
  color: #bfcede;
  background-color: #50769c;
}

.btn-primary:hover {
  background-color: #fff;
  color: #365069;
  border-color: #fff;
}

.btn:active {
  box-shadow: none;
}

/* Main Content Area
================================= */

body {
  font-family: 'Open Sans', sans-serif;
  color: #595959;
  padding-top: 50px;
}

.img-thumbnail {
  margin-bottom: 10px;
}

p:last-of-type {
    margin-bottom: 20px;
}

/* Glyphicon
================================= */

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: #3a87ad;
}

/* Sticky footer
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Media Queries
================================= */

@media (min-width: 769px) {

  .jumbotron {
    padding: 200px 0 250px 0;
    margin-bottom: 20px;
  }
 

  .jumbotron h1 {
    font-size: 7rem;
  }

  .jumbotron img {
    max-width: 450px;
  }

  p.lead {
    font-size: 2em;
    margin-bottom: 40px;
  }

  p:last-of-type {
    margin-bottom: 10px;
  }
 
}

@media (min-width: 1200px) {

 .jumbotron {
    text-align: left;
    padding: 250px 0 350px 0;
    margin-bottom: 20px;
  }

  .jumbotron img {
    max-width: 600px;
  }

}




