/* Web Fonts --------------------*/

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');  /*IE compatibility*/
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base Styles --------------------*/

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Varela Round', sans-serif;
  font-size: .95em;
  line-height: 1.5; /* ??? correct? */
}

h1,
h2 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5rem;
  color: #036298;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0px 1px 1px rgba(0,0,0, .8);
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125em; /* 53px/16px */
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: .5em; /* 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo Classes --------------------*/

a:link {
  color: #036298;
  text-decoration: none;
}

a:visited {
  color: #036298;
}

a:hover {
  color: #87ceeb;
}

a:active {
  color: #4169e1;
}

/* Main Styles --------------------*/

.main-header {
  padding: 50px 25px 0;
  background: linear-gradient(#6495ed, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #6495ed url('../img/crater-lake.jpg') no-repeat center;
  background-size: cover;
}

.title {
  color: #036298;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: .065em;
  border: none;
}

.intro {
  font-size: 1rem;
  text-align: left;
}

.main-header,
.primary-content,
.main-footer {
  text-align: center;
}

.secondary-content {
  border-bottom: 2px solid #dfe2e6;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}

.main-footer {
  padding: 20px 0;
  border-bottom: 10px solid #6495ed;
}

.arrow {
  display: none;
}

/* Layout Styles --------------------*/

.primary-content,
.secondary-content {
  width: 100%;
  padding: 20px;
  border-top: none;
}

.wildlife {
  color: white;
  background-color: #434a52;
  text-align: left;
  padding: 10% 12%;
  border-top: 10px solid #6495ed;
  margin: 50px 0 20px;
  background: url('../img/bear.jpg') no-repeat center / cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}

.wildlife h2 {
  text-align: center;
}

/* Media Queries --------------------*/

@media (min-width: 768px) {

  body {
    font-size: 1em;
  }

  .main-header {
    padding-top: 170px;
    height: 850px;
  }

  .main-header h1 {
    font-size: 5.625rem; /* 90px/16px */
    line-height: 1.3;
  }

  .title {
    font-size: 1.625rem; /*26px/16px*/
    border-bottom: 2px solid;
    padding-bottom: 10px;
  }

  .intro {
    font-size: 1.15rem; /* 20px/16px */
    line-height: 1.5;
  }

  .primary-content,
  .secondary-content {
    width: 90%;
    margin: 0 auto;
  }

  .primary-content {
    padding-top: 25px;
    padding-bottom: 95px;
  }

  .secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .wildlife {
    padding: 18% 24%;
    margin: 105px 0 60px;
  }

  .arrow {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 150px;
  }

  .recreation,
  .tips {
    width: 46.5%;
  }

  .recreation {
    float: left;
  }

  .tips {
    float: right;
  }

  .main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .t-border {
    border-top: 2px solid #dfe2e6;
  }


  /* Float Clearfix --------------------*/

  .group:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {

  .primary-content,
  .secondary-content {
    width: 75%;
    padding-left: 50px;    /*delete*/
    padding-right: 50px;   /*delete*/
    margin: auto;
    max-width: 900px;
  }

  .title {
    font-size: 2rem; /*32px/16px*/
  }

  .main-header h1 {
    font-size: 6.25rem; /* 100px/16px */
  }

  .intro {
    font-size: 1.25rem; /* 20px/16px */
    line-height: 1.6;
  }

}




















